<div class="text-field">
  <%= form.label :email %> <br/>
  <%= form.text_field :email, type: 'email' %>
</div>
<br>
<div class="password-field">
  <%= form.label :password %><br/>
  <%= form.password_field :password %>
</div>
<br/>