
<div id='foo'>

	<ul class='slideme'>
		<li><%= image_tag 'natura01.jpg' ,  alt: "Products Natura" %></li>
		<li><%= image_tag 'nature.jpeg'%></li>
	</ul>

</div>

<script >
	$(function() { 
		$('#foo').slideme({
		autoslide : true,
		interval : 2500,
		loop : true,
		});
	});	
</script>