/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

footer {
	padding: 5px;
	background-color: #1675a1;
	border-radius:8px;
	clear: both;
	color: white;
}

/* Clearence Style */
.text-field,.password-field label{
	font-size: x-large;
}

#clearance h2{
	font-size: xx-large;
}

.submit-field input {
	font-size: x-large;
}

.other-links {
	margin: 10px;
}

#signed {
	margin: 10px;
}