// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideme {
max-width: 990px;
max-height: 450px;
width: 100%;
height: 100%;
}

#foo {
	width: 450px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.slideme img {
	width: 450px;
	height: 300px;
}

#contact-form {
	margin: 15px;
	font-size: x-large;
}

#contact-form input {
	width: 400px;
}

#googleMap{
	float: right;
	margin: 15px;
	clear: both;
}

#address {
	float: right;
}