// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.partial-Product {
	float: left;
	width: 25%;
}

.partial-Product img {
	width: 100px;
	height: 100px;
}

.image-show {
	float: left;
}