<%= image_tag @product.name + '.jpg' , class: 'image-show' %>

<p><%= @product.name %></p>
<p><%= @product.price %></p>
<p><%= @product.description %></p>

<%= form_tag charges_path do %>
	<%= hidden_field_tag(:price, @product.price) %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount= <%= (@product.price.to_f) * 100 %>  > </script>
<% end %>

<div class = 'likes-products'> 
    <div class='form-like-product'> 
  	 <%= form_for [@product,Like.new] , remote: true do |f| %>
      <%= f.hidden_field :product, value: @product %>
      <%= f.submit 'like' %>
  	 <% end %>
    </div>
  <p id='likes_<%= @product.id%>'><%= @product.likes.count %></p> 
</div>

<%= render "comments/comment", product: @product %>


