<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Link to Jquery-->
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

  <!-- Link to SlideMe css -->
  <%= stylesheet_link_tag 'slideme', 'data-turbolinks-track' => true %>

  <!-- Link to css file for smartmenu css file-->
  <%= stylesheet_link_tag 'sm-core-css' ,'data-turbolinks-track' => true %>

  <!-- Link for css for jqueryui -->
  <%= stylesheet_link_tag 'jquery-ui.structure.css' ,'data-turbolinks-track' => true %>

  <!-- -->
  <%= stylesheet_link_tag 'jquery-ui.theme.min.css', 'data-turbolinks-track' => true %>

  <!-- Link For Slideme PlugIn -->
  <%= javascript_include_tag 'jquery.slideme-1.21.71.js' ,'data-turbolinks-track' => true %>

  <!-- Link For  SmartMenu PlugIn-->
  <%= javascript_include_tag 'jquery.smartmenus.js' ,'data-turbolinks-track' => true %>

  <!-- Link For JqueryUI PlugIn-->
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div id= "signed"> 
      <% if signed_in? %>
        <p>Signed in as: <%= current_user.email %></p>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% end %>
    </div>  
  <ul id="main-menu" class="sm sm-blue">
    <li><%= link_to 'Home', root_path, id: 'home-link' %></li>
    <li><%= link_to 'Products', products_path , id: 'products-link' %></li>
    <li><%= link_to 'Contact', page_contact_path , id: 'contact-link' %></li>
    <li><%= link_to 'About', page_about_path , id: 'about-link' %></li>
    <li> <%= link_to 'Sign in', sign_in_path, id:'sign-in' %> </li>
    <li> <%= link_to 'Sign up', sign_up_path, id:'sign-up' %> </li>
  </ul>

  </header>

<%= yield %>

  <footer>
    <p>Tel: 250-234-0456</p>
    <p> 5th Street, Courtenay, BC</p>
  </footer>

</body>
</html>